@keyframes pulsate {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    50% {
        transform: scale(1);
        opacity: 0.6;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.about {
    background-color: #0a2850;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 173px 80px;
}

.about__title {
    margin: 0px;
    max-width: 251px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    color: #fff;
    position: relative;
    z-index: 3;
}

.about__content {
    max-width: 660px;
    margin: 0px;
    font-family: "Noto Serif", "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 9px;
}

.about__paragraph {
    margin-bottom: 20px;
    margin-top: 0px;
}

.about__paragraph:last-child {
    margin-bottom: 0px;
}

.about__circle {
    width: 426px;
    height: 426px;
    border-radius: 50%;
    background-color: #1878dc;
    position: absolute;
    z-index: 1;
    top: -152px;
    left: -129px;
}

.about__circle_animation_blurred {
    animation: pulsate 1.3s ease-in-out infinite;
}
