.card {
    display: flex;
    width: 540px;
    flex-direction: column;
    padding: 100px;
}

.card__title {
    font-family: "Inter" Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 32px;
    margin-top: 0px;
}

.card__list-item {
    list-style-type: none;
    margin-bottom: 16px;
    width: 540px;
    display: flex;
    justify-content: space-between;
    font-family: "Noto Serif" "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

ul li:last-child {
    margin-bottom: 0px;
}

.card__list-divider {
    border-bottom: 2px solid black;
    flex-grow: 1;
}
