.menu {
    background-image: url(../images/background_menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu__title {
    padding-top: 100px;
    text-align: center;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    margin: 0;
    margin-bottom: 24px;
}

.menu__subtitle {
    margin-bottom: 100px;
    font-family: "Noto Serif", "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    max-width: 780px;
    text-align: center;
    margin: 0 auto;
}

.menu__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
}

.menu__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
