.menu {
    background-image: url(../images/se_project_2_files/background_menu.svg);
    max-width: 1600px;
}

.menu__title {
    padding-top: 100px;
    text-align: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.menu__subtitle {
    margin-bottom: 100px;
    margin-top: 24px;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    max-width: 780px;
    text-align: center;
    margin: 0 auto;
}

.menu__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
}
