.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: "Inter", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.header {
    background: #fff;
    background-image: url("../images/se_project_2_files/background_header.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 800px;
    width: auto;
    padding: 30px 80px 40px;
}

.nav__logo {
    position: relative;
    margin-left: 30px;
    margin-top: 30px;
}
.nav {
    display: flex;
    justify-content: space-between;
}

.nav__links {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 8px 0 0;
    column-gap: 20px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.header__title {
    max-width: 729px;
    margin-bottom: 28px;
    margin-top: 183px;
    font-family: "Noto Serif", "Times New Roman", serif;
    font-style: italic;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    color: #3f96f3;
}

.header__span-accent {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.6px;
    color: black;
}

.header__description {
    font-family: "Noto Serif", "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    max-width: 683px;
    margin-top: 28px;
}

.header__image {
    position: absolute;
    width: 646px;
    height: 568px;
    right: 5px;
    top: 124px;
}

.header__footer {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #838383;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__paragraph {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1px;
}

.recipes {
    background-color: #0a2750;
    background-image: url(../images/se_project_2_files/background_recipes.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-left: 80px;
    padding-bottom: 215px;
}

.recipes__title {
    max-width: 580px;
    margin-bottom: 24px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    color: #fff;
}

.recipes__subtitle {
    max-width: 438px;
    margin-bottom: 80px;
    font-family: "Noto Serif", "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}

.recipes__videos {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 480px;
    height: 273px;
    justify-content: center;
    gap: 40px;
    margin-bottom: 24px;
}

.recipes__video-caption {
    font-family: "Inter", Arial, Sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}
.reservation {
    background-color: #d9e7ff;
    background-image: url(../images/se_project_2_files/background_reservation.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.reservation__title {
    padding-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    color: #000;
}

.reservation__form {
    display: flex;
    justify-content: center;
}

.reservation__form_fieldset {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    border: none;
}

.reservation__form_label {
    margin-bottom: 8px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    display: flex;
    justify-content: flex-start;
}

.reservation__form_input {
    padding: 15px 20px;
    margin-bottom: 32px;
    max-width: 385px;
    border-radius: 4px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #000;
    border: 1px solid #838383;
}

.reservation__form_button {
    margin-bottom: 32px;
    border-radius: 4px;
    background-color: #1878dc;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reservation__form_button:hover {
    background-color: #3f96f3;
    transition: 0.5s ease-in-out;
}

.reservation__form_checkbox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 12px;
    margin-bottom: 120px;
}
